SpeechCommands/
data/
node_modules/
pyvenv.cfg

.venv
.env
__pycache__
.pytest_cache

*.pdf
*.wav
*.log
*.err

*.zip
*.rar
*.7z
*.gz
*.bz2
*.tmp*
tmp*
*.npz

*.db
*.dat
*.dir
*.bak

dist
dist-ssr
*.local

# Editor specific files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


validation_list.txt
training_data.txt
training_list.txt
testing_list.txt

pine-mobile-consumer/

help/*.pdf

# latex artifacts
*.aux 
*.bbl 
*.blg 
*.log 
*.out
*.toc 
*.lot 
*.lof 
*.gz 
*.dvi 
*.fdb_latexmk 
*.fls _minted*